{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="form-container">
    <h2>Cadastro</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Usuário:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password1">Senha:</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="id_password2">Confirmação de senha:</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn-submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
</div>
{% else %}
<script>
    window.location.href = "{% url 'user' %}";
</script>
{% endif %}

<style>
    .form-container {
        width: 100%;
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .form-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .btn-submit {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #333;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
    }
    .btn-submit:hover {
        background-color: #555;
    }
    p {
        text-align: center;
        margin-top: 15px;
    }
    p a {
        color: #333;
        text-decoration: underline;
    }
    p a:hover {
        color: #555;
    }
</style>
{% endblock %}
