{% extends 'base.html' %}


{% block title %}OrderlyMind - Página do Usuário{% endblock %}


{% block content %}
<div class="container">
    <h1>Bem-vindo, {{ user.username }}</h1>


    <!-- Display the total XP for the week -->
    <div class="weekly-xp-container">
        <h2>Total XP da Semana: {{ total_weekly_xp }}</h2>
    </div>


    <!-- Navegação de Mês -->
    <div class="month-navigation">
        <form method="GET" action="">
            <button type="submit" name="change_month" value="previous">&#60;</button>
            <span id="current-month">{{ current_month }} {{ current_year }}</span>
            <button type="submit" name="change_month" value="next">&#62;</button>
            <input type="hidden" name="date" value="{{ current_date }}">
        </form>
    </div>
   
    <div class="calendar-container">
        <div class="calendar">
            <table>
                <thead>
                    <tr>
                        <th>Dom</th>
                        <th>Seg</th>
                        <th>Ter</th>
                        <th>Qua</th>
                        <th>Qui</th>
                        <th>Sex</th>
                        <th>Sáb</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                        <td>{% if day %}{{ day }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="task-list">
            <h2>Tarefas do Dia</h2>
            <ul>
                {% if daily_tasks %}
                    {% for task in daily_tasks %}
                        <li>
                            <input type="checkbox" id="task{{ task.id }}">
                            <label for="task{{ task.id }}">{{ task.description }}</label>
                            <span class="difficulty {{ task.difficulty }}"></span>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Não há tarefas cadastradas para hoje.</p>
                {% endif %}
            </ul>


            <!-- Container para Criar Nova Tarefa -->
            <div class="create-task-container">
                <div class="create-task-box">
                    <a href="{% url 'create_task' %}" class="btn-create-task">Criar Nova Tarefa</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Container de Legendas -->
    <div class="legend-container">
        <div class="difficulty-legend">
            <h3>Legenda de Dificuldade</h3>
            <ul>
                <li><span class="difficulty easy"></span> Fácil - 10 a 30 min (1 ponto)</li>
                <li><span class="difficulty medium"></span> Médio - 30 min a 1 hora e 30 min (2 pontos)</li>
                <li><span class="difficulty hard"></span> Difícil - 1 hora e 30 min a 3 horas (4 pontos)</li>
                <li><span class="difficulty veryhard"></span> Muito difícil - acima de 3 horas (6 pontos)</li>
            </ul>
        </div>
    </div>
</div>


<style>
    .month-navigation {
        text-align: center;
        margin: 20px 0;
        font-size: 20px;
    }


    .month-navigation button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }


    .month-navigation button:hover {
        background-color: #0056b3;
    }


    #current-month {
        margin: 0 20px;
        font-size: 22px;
        font-weight: bold;
    }


    .calendar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }


    .calendar {
        flex: 0 1 30%;
        margin-right: 20px;
    }


    .calendar table {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
    }


    .calendar th, .calendar td {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: center;
    }


    .calendar th {
        background-color: #f4f4f4;
        font-weight: bold;
    }


    .calendar td {
        background-color: #fff;
    }


    .calendar td:hover {
        background-color: #f0f8ff;
        cursor: pointer;
    }


    .difficulty {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
    }


    .difficulty.easy {
        background-color: green;
    }


    .difficulty.medium {
        background-color: orange;
    }


    .difficulty.hard {
        background-color: red;
    }


    .difficulty.veryhard {
        background-color: black;
    }


    .task-list {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 65%;
    }


    .btn-create-task {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }


    .btn-create-task:hover {
        background-color: #555;
    }


    .legend-container {
        background: #fff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }


    .difficulty-legend ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }


    .difficulty-legend ul li {
        margin: 10px 0;
    }
</style>
{% endblock %}
